Source: php5-memcache
Section: web
Priority: optional
Maintainer: Engine Yard Packaging <packaging@engineyard.com>
Build-Depends: debhelper (>= 7), po-debconf, xsltproc , php5-dev
Standards-Version: 3.9.1

Package: php5-memcache
Architecture: any
Depends: ${shlibs:Depends}, ${php:Depends}, ${misc:Depends}
Description: memcache module for PHP 5
 memcached extension
 .
 Memcached is a caching daemon designed especially for
     dynamic web applications to decrease database load by storing
     objects in memory.  This extension allows you to work with
     memcached through handy OO and procedural interfaces.


